<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar container h-100">
                
                <div class="right-topbar">
                    <a href="#">
                        <span class="fab fa-facebook-f"></span>
                    </a>
                    <a href="#">
                        <span class="fab fa-twitter"></span>
                    </a>
                    <a href="#">
                        <span class="fab fa-pinterest-p"></span>
                    </a>
                    <a href="#">
                        <span class="fab fa-vimeo-v"></span>
                    </a>
                    <a href="#">
                        <span class="fab fa-youtube"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="Index"><img src="~/images/icons/untitled.png" alt="IMG-LOGO"></a>
                <a href="Index"><img src="~/images/icons/untitled.png" alt="IMG-LOGO"></a>
            </div>
            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
        <!-- Menu Mobile -->
        <div class="menu-mobile">
            
            <ul class="main-menu">
                <li>
                    <a href="~/Home/Index">Anasayfa</a>
                </li>
                <li>
                    <a href="~/Home/Konular">Konular</a>
                    <ul class="sub-menu">
                        <li><a href="category-01.html">Eğitim Bilimleri Temel Alanı</a></li>
                        <li><a href="category-02.html">Fen Bilimleri ve Matematik Temel Alanı</a></li>
                        <li><a href="blog-grid.html">Filoloji Temel Alanı</a></li>
                        <li><a href="blog-list-01.html">Güzel Sanatlar Temel Alanı</a></li>
                        <li><a href="blog-list-02.html">Hukuk Temel Alanı</a></li>
                        <li><a href="blog-detail-01.html">İlahiyat Temel Alanı</a></li>
                        <li><a href="blog-detail-02.html">Mimarlık, Planlama ve Tasarım Temel Alanı</a></li>
                        <li><a href="about.html">Mühendislik Temel Alanı</a></li>
                        <li><a href="blog-detail-02.html">Sağlık Bilimleri Temel Alanı</a></li>
                        <li><a href="about.html">Sosyal, Beşeri ve İdari Bilimler Temel Alanı</a></li>
                        <li><a href="blog-detail-02.html">Ziraat, Orman ve Su Ürünleri Temel Alanı</a></li>
                        <li><a href="about.html">Spor Bilimleri Temel Alanı</a></li>
                        <li><a href="about.html"> Bilim Alanları ve Anahtar Kelimeler</a></li>
                       
                    </ul>
                </li>
                <li>
                    <a href="~/Home/Index">Hakkımızda</a>
                </li>
                <li>
                    <a href="~/Home/Bizeulas">Bize Ulaş</a>
                </li>
            </ul>
        </div>

        <!--  -->
        <div class="wrap-logo container">
            <!-- Logo desktop -->
            <div class="logo">
                <a href="~/Home/Index"><img src="~/images/icons/untitled.png" alt="LOGO"></a>
            </div>
            <!-- Banner -->
            <div class="banner-header">
                <a href=""><img src="~/images/banner4.jpg" alt="IMG"></a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">
                    <a class="logo-stick" href="~/Home/Konular">
                        <img src="~/images/icons/untitled.png" alt="LOGO">
                    </a>
                   
                    <ul class="main-menu">
                        <li>
                            <a href="~/Home/Index">Anasayfa</a>
                        </li>
                        <li>
                            <a href="~/Home/Konular">Konular</a>
                            <ul class="sub-menu">
                                <li><a href="category-01.html">Eğitim Bilimleri Temel Alanı</a></li>
                                <li><a href="category-02.html">Fen Bilimleri ve Matematik Temel Alanı</a></li>
                                <li><a href="blog-grid.html">Filoloji Temel Alanı</a></li>
                                <li><a href="blog-list-01.html">Güzel Sanatlar Temel Alanı</a></li>
                                <li><a href="blog-list-02.html">Hukuk Temel Alanı</a></li>
                                <li><a href="blog-detail-01.html">İlahiyat Temel Alanı</a></li>
                                <li><a href="blog-detail-02.html">Mimarlık, Planlama ve Tasarım Temel Alanı</a></li>
                                <li><a href="about.html">Mühendislik Temel Alanı</a></li>
                                <li><a href="blog-detail-02.html">Sağlık Bilimleri Temel Alanı</a></li>
                                <li><a href="about.html">Sosyal, Beşeri ve İdari Bilimler Temel Alanı</a></li>
                                <li><a href="blog-detail-02.html">Ziraat, Orman ve Su Ürünleri Temel Alanı</a></li>
                                <li><a href="about.html">Spor Bilimleri Temel Alanı</a></li>
                                <li><a href="about.html"> Bilim Alanları ve Anahtar Kelimeler</a></li>
                                <li><a href="about.html"> Bilim Alanları ve Anahtar Kelimeler</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Home/Index">Hakkımızda</a>
                        </li>
                        <li>
                            <a href="~/Home/Bizeulas">Bize Ulaş</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>