
@{
    ViewBag.Title = "Konular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container p-t-4 p-b-40">
    <h2 class="f1-l-1 cl2">
       Konular
    </h2>
</div>
<!-- Content -->
<section class="bg0 p-b-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-8 p-b-80">
                <div class="p-r-10 p-r-0-sr991">
                    <form>
                        <h3><a href="~/Home/Alanlar">Eğitim Bilimleri Temel Alanı</a></h3>
                        <h3>Fen Bilimleri ve Matematik Temel Alanı</h3>
                        <h3>Filoloji Temel Alanı</h3>
                        <h3>Güzel Sanatlar Temel Alanı</h3>
                        <h3>Hukuk Temel Alanı</h3>
                        <h3>İlahiyat Temel Alanı</h3>
                        <h3>Mimarlık, Planlama ve Tasarım Temel Alanı</h3>
                        <h3>Mühendislik Temel Alanı</h3>
                        <h3>Sağlık Bilimleri Temel Alanı</h3>
                        <h3>Sosyal, Beşeri ve İdari Bilimler Temel Alanı</h3>
                        <h3>Ziraat, Orman ve Su Ürünleri Temel Alanı</h3>
                        <h3>Spor Bilimleri Temel Alanı</h3>
                        <h3>Bilim Alanları ve Anahtar Kelimeler</h3>
                    </form>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-md-5 col-lg-4 p-b-80">
                <div class="p-l-10 p-rl-0-sr991">
                    <!-- Popular Posts -->
                    <div>
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Haberler
                            </h3>
                        </div>
                        <ul class="p-t-35">
                            <li class="flex-wr-sb-s p-b-30">
                                <a href="#" class="size-w-10 wrap-pic-w hov1 trans-03">

                                    <img src="~/images/popular-post-04.jpg" alt="IMG">
                                </a>
                                <div class="size-w-11">
                                    <h6 class="p-b-4">
                                        <a href="blog-detail-02.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                            Donec metus orci, malesuada et lectus vitae
                                        </a>
                                    </h6>
                                    <span class="cl8 txt-center p-b-24">
                                        <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                            Music
                                        </a>
                                        <span class="f1-s-3 m-rl-3">
                                            -
                                        </span>
                                        <span class="f1-s-3">
                                            Feb 18
                                        </span>
                                    </span>
                                </div>
                            </li>
                            <li class="flex-wr-sb-s p-b-30">
                                <a href="#" class="size-w-10 wrap-pic-w hov1 trans-03">
                                    <img src="~/images/popular-post-05.jpg" alt="IMG">
                                </a>
                                <div class="size-w-11">
                                    <h6 class="p-b-4">
                                        <a href="blog-detail-02.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                            Donec metus orci, malesuada et lectus vitae
                                        </a>
                                    </h6>
                                    <span class="cl8 txt-center p-b-24">
                                        <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                            Game
                                        </a>
                                        <span class="f1-s-3 m-rl-3">
                                            -
                                        </span>
                                        <span class="f1-s-3">
                                            Feb 16
                                        </span>
                                    </span>
                                </div>
                            </li>
                            <li class="flex-wr-sb-s p-b-30">
                                <a href="#" class="size-w-10 wrap-pic-w hov1 trans-03">
                                    <img src="~/images/popular-post-06.jpg" alt="IMG">
                                </a>
                                <div class="size-w-11">
                                    <h6 class="p-b-4">
                                        <a href="blog-detail-02.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                            Donec metus orci, malesuada et lectus vitae
                                        </a>
                                    </h6>
                                    <span class="cl8 txt-center p-b-24">
                                        <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                            Celebrity
                                        </a>
                                        <span class="f1-s-3 m-rl-3">
                                            -
                                        </span>
                                        <span class="f1-s-3">
                                            Feb 12
                                        </span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
