<header class="site-navbar" role="banner" >
    <div class="site-navbar-top" style="overflow: hidden;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                    <form action="" class="site-block-top-search">

                    </form>
                </div>
                <div class="col-12 text-center">
                    <div class="site-logo">
                        <a href="~/Home/Index" class="js-logo-clone" style="font-weight:500; font-size:1.25rem;">Akademik Paylaşım</a>
                    </div>
                </div>
                <div class="col-12 order-3 order-md-3 text-right" >
                    <div class="site-top-icons">
                        <ul style="display: flex;  margin-top:3vw;  justify-content: center;">

                            <li class="d-inline-block d-md-none ml-md-0">
                            <lu><a class="site-menu-toggle js-menu-toggle" href="~/Home/Index">Anasayfa</a></lu>
                            <lu><a class="site-menu-toggle js-menu-toggle" href="~/Home/Alanlar">Doçentlik Puan Hesaplama</a></lu>
                            <lu><a class="site-menu-toggle js-menu-toggle" href="#">Akademik Teşvik Hesaplama</a></lu>
                            </li>
                        </ul>                       
                    </div>                   
                </div>
            </div>
        </div> 
    </div>
    <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
            <ul class="site-menu js-clone-nav d-none d-md-block">

                <li><a href="~/Home/Index"><b>Anasayfa</b></a></li>
                <li><a href="~/Home/Alanlar"><b>Doçentlik Puan Hesaplama</b></a></li>
                <li><a><b>Akademik Teşvik Hesaplama</b></a></li>

            </ul>
        </div>
    </nav>
</header>